*, ::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  margin: 10px 0;
}

nav a {
  margin: 10px;
  font-size: 20px;
  color:blue
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 1.5;
  color: #333;
  background: #eee;
}

.activeLink {
  color: rgb(206, 34, 221);
}